:root {
  --main-bg-color: #1c1c1c;
  --main-bg: #2d2d2f;
  --main-hover: #2b1d18
  --main-font white;
  --lib-hub: #d8d8d8;
}

.inv{
    margin-top: 25px;
    margin-left: 10px;
    color: var(--lib-hub);
}
.inv a {
    color: var(--lib-hub);
    text-decoration: none;
}
.inv a:link {color: var(--lib-hub);}
.inv a:visited {color: var(--lib-hub);}
.inv a:hover {
    color: var(--lib-hub);
    text-decoration: None;
}
.inv a:active {color: var(--lib-hub);}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 10px;
}
.comm {
    border: solid;
    border-radius: 25px;
    padding: 10px;
    transition: 0.5s;
}
.comm:hover {
    transform: scale(1.02);
}
.one-line {display:flex;}
.filled {justify-content: space-between;}
body{
    background: #2d2d2f;
    font-family: "Verdana", sans-serif;
    color: white;
}
.container{
    margin-top: 40px;
    padding: 30px;
    background-color: #1c1c1c;
    border: 10px solid #2b1d18;
    border-radius: 20px;
    display: inline-block;
    vertical-align: top;
    margin-left: 100px;
}
.navigation{
    background: #1c1c1c;
    border-bottom: 10px solid #2b1d18;
}
.header_block{
    display: inline-block;
    border: 10px;
}
.book{
    margin-bottom: 25px
}
.btn{
    background-color: var(--main-bg-color);
    border-color: var(--main-hover);
    transition: 0.5s;
}
.btn:hover{
    background-color: var(--main-bg-color);
    border-color: var(--main-hover);
    transform: scale(1.05);
}
.search:hover{
    border-color: #787825
}
.searchbtn{
    background-color: rgba(0, 0, 0, 0);
    margin-left: 10px;
    margin-bottom: 15px;
    display:inline-block;
    border-color: #2b1d18;
    border: 2px;
    border-radius: 5px;
}
.profile_icon{
    background-image: url("../images/main_images/icon.png");
    border-color: transparent;
    background-color: transparent;
    background-size: 103% 103%;
    background-position: 45% 25%;
    height:40px;
    width:40px;
}
.profile_icon:hover{
    border-color: transparent;
    background-color: transparent;
}
.settings_icon{
    background-image: url("../images/main_images/light_settings.png");
    border-color: transparent;
    background-color: transparent;
    background-size: 100% 100%;
    background-position: 45% 25%;
    height:40px;
    width:40px;
}
.settings_icon:hover{
    border-color: transparent;
    background-color: transparent;
    transform: rotate(90deg);
}
.profile{
    margin-left: 70%;
}
.side_nav{
    background: #1c1c1c;
    margin-right: 5%;
    padding: 10px;
    border-right: 10px solid #2b1d18;
    height: 100%;
    width:10%;
    display: inline-block;
}
.main_info{
    display: inline;
}
.tag{
    text-align: left;
}
.tag_checkbox{
    display: block;
	margin: 0 5px 0 0;
	user-select: none;
	position: relative;
}
.tag_checkbox input[type=checkbox] {
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
.tag_checkbox span {
	display: inline-block;
	cursor: pointer;
	padding: 0px 10px;
	line-height: 30px;
	border: 1px solid #999;
	border-radius: 4px;
	transition: background 0.2s ease;
}
.tag_checkbox input[type=checkbox]:checked + span {
	background: #ffe0a6;
}
.tag_checkbox input[type=checkbox]:active:not(:disabled) + span {
	background: #d2c5ac;
	color: #000;
}
.tag_checkbox:hover {
	color: #666;
}
/* todo: dark_theme bg: 1c1c1c; main_bg: #2d2d2f; hover: 2b1d18; font: white*/
/* todo: light_theme bg: 413023; main_bg: faf5ea; hover: 2b1d18; font: black*/