:root {
  --main-bg-color: #1c1c1c;
  --main-bg: #2d2d2f;
  --main-hover: #2b1d18
  --main-font white;
  --lib-hub: #d8d8d8;
}

.inv{
    margin-top: 25px;
    margin-left: 10px;
    color: var(--lib-hub);
    user-select: none;
}
.inv a {
    color: var(--lib-hub);
    text-decoration: none;
    user-select: none;
}
.inv a:link {color: var(--lib-hub);}
.inv a:visited {color: var(--lib-hub);}
.inv a:hover {
    color: var(--lib-hub);
    text-decoration: None;
}
.inv a:active {color: var(--lib-hub);}
.inv-button {
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    color: var(--lib-hub);
    margin-left: 5px;
    text-align: center;
    vertical-align: middle;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 10px;
}
.comm {
    border: solid;
    border-radius: 25px;
    padding: 10px;
    transition: 0.5s;
}
.comm:hover {
    transform: scale(1.02);
}
.one-line {display:flex;}
.filled {justify-content: space-between;}
body{
    background: var(--main-bg);
    font-family: "Verdana", sans-serif;
    color: white;
}
.container{
    margin-top: 40px;
    padding: 30px;
    background-color: var(--main-bg-color);
    border: 10px solid #2b1d18;
    border-radius: 20px;
    display: inline-block;
    vertical-align: top;
    margin-left: 20%;
}
.navigation{
    background: var(--main-bg-color);
    border-bottom: 10px solid #2b1d18;
}
.header_block{
    display: inline-block;
    border: 10px;
}
.book{
    margin-bottom: 25px
}
.btn{
    background-color: var(--main-bg-color);
    border-color: var(--main-hover);
    transition: 0.5s;
}
.btn:hover{
    background-color: var(--main-bg-color);
    border-color: var(--main-hover);
    transform: scale(1.05);
}
.search:hover{
    border-color: #787825
}
.searchbtn{
    background-color: rgba(0, 0, 0, 0);
    margin-left: 10px;
    margin-top: 2rem;
    display:inline-block;
    border-color: #2b1d18;
    border: 2px;
    border-radius: 5px;
    height: calc(1.5em + .75rem + 2px);
}
.book-anim{
    background-image: url("../images/main_images/icon.gif");
    border-color: transparent;
    background-color: transparent;
    background-size: 103% 103%;
    background-position: 45% 25%;
    height:40px;
    width:40px;
}
.profile_icon{
    background-image: url("../images/main_images/icon.png");
    border-color: transparent;
    background-color: transparent;
    background-size: 103% 103%;
    background-position: 45% 25%;
    height:40px;
    width:40px;
}
.profile_icon:hover{
    border-color: transparent;
    background-color: transparent;
}
.settings_icon{
    background-image: url("../images/main_images/light_settings.png");
    border-color: transparent;
    background-color: transparent;
    background-size: 100% 100%;
    background-position: 45% 25%;
    height:40px;
    width:40px;
}
.settings_icon:hover{
    border-color: transparent;
    background-color: transparent;
    transform: rotate(90deg);
}
.profile{
    margin-left: 70%;
}
.side_nav{
    background: var(--main-bg-color);
    margin-right: 5%;
    padding: 10px;
    border-right: 10px solid #2b1d18;
    height: 100%;
    width:10%;
    display: inline-block;
}
.main_info{
    display: inline;
}
.tag{
    text-align: left;
}
.add_tag:hover:after{
    content: attr(data-title); /* Выводим текст */
    position: absolute;/* Абсолютное позиционирование */
    top: calc(100% - 0.5rem);
    z-index: 10; /* Отображаем подсказку поверх других элементов */
    background-color: var(--main-bg-color);
    padding: 5px 10px; /* Поля */
    margin: 10px;
    border: 2px solid #999;
    border-radius: 5px;
}
.add_tag:after{
    color: white;
    width: 25rem;
    background-color: var(--main-bg-color);
}
.tag_checkbox{
    display: block;
	margin: 0 5px 5px 0;
	user-select: none;
	position: relative;
}
.tag_checkbox > input {
	display: none;
}
.add_tag {
	display: inline-block;
	cursor: pointer;
	padding: 0px 10px;
	line-height: 30px;
	border: 2px solid #999;
	border-radius: 4px;
	transition: background 0.2s ease;
	width: 100%;
	height: 100%;
	text-align: middle;
	vertical-align: middle;
}
.tag_checkbox > input:checked + span {
	background: var(--lib-hub);
	border: 2px solid blue;
	border-radius: 4px;
	color: black;
}
.tag_checkbox:hover {
	color: #666;
}
footer{
    background-color: var(--main-bg-color);
    margin-top: 50%;
    padding: 3%;
    border-top: 20px solid #2b1d18;
}
.social_media{
    position: absolute;
    display: inline-block;
    margin-left: 60%;
}
.footer_information{
    display: inline-block;
}
.contacts{
    position: absolute;
    display: inline-block;
    margin-left: 27%;
}
.copyright{
    margin-top: 7%;
    text-align: center;
}
.as-text {
  display: flex;
  flex-wrap: wrap;
}
.as-text>* {
  flex: 1 1 250px;
}
.grid-for-books{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 60px 30px;
  margin: 0 auto;
}
.book_card {
    position: relative;
    transition: .2s;
    img {width: 200px;
        display: block;
        object-fit: cover;
    }
    > b {position: absolute;
        width: 100%;
        text-align: center;
        padding: 0px 20px;
        top: 10%;
        z-index: 2;
    }
    > p {
        position: absolute;
        bottom: 10%;
        width: 100%;
        text-align: center;
        visibility: hidden;
        opacity: 0;
        transition: opacity .2s, visibility .2s;
        z-index: 2;
        padding: 0px 20px;
    }
    > a {position: absolute; top: 0px; left: 0px; z-index: 1;
    width: 100%; height: 100%; transition: .2s; background: transparent;}
}
.book_card:hover {
    transform: scale(1.05);
    > p {visibility: visible; opacity: 1;}
    > a {background: rgba(10, 10, 10, 0.5);}
}
.like-btn {
    > input {display: none;}
    background-image: url("../images/main_images/light_like.png");
    background-color: transparent;
    background-size: 100% 100%;
    background-position: 45% 25%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    border-radius: 4px;
    transition: .3s;
}
.like-btn-checked {
    background-color: blue;
}
.like-btn:hover {
    transform: scale(1.05);
}
.tab-content, .tab input {display: none;}
.tabs > div:has(> label:nth-of-type(1) input:checked) + div > div:nth-of-type(1),
.tabs > div:has(> label:nth-of-type(2) input:checked) + div > div:nth-of-type(2),
.tabs > div:has(> label:nth-of-type(3) input:checked) + div > div:nth-of-type(3),
.tabs > div:has(> label:nth-of-type(4) input:checked) + div > div:nth-of-type(4) {display: block;}
.tab { display: block; height: 4rem; width: 150px; border: solid; text-align: center;
cursor: pointer; margin-bottom: 0px; border-top: 0px; border-right: 0px; transition: background-color 0.3s; }
.tab:nth-of-type(1) { border-top: solid; border-top-left-radius: 3px; }
.tab:nth-of-type(4) { border-bottom-left-radius: 3px; }
.tab:has(input[type="radio"]:checked) { border-right: 0px solid #fff; background-color: rgba(255, 255, 255, 0.3);}
.tab:hover {background-color: rgba(255, 255, 255, 0.2);}
.tab-content {border: 3px solid #fff; border-radius: 3px; border-top-left-radius: 0px; padding: 10px; min-height: 16rem;}
#change_about {height: 300px;}
#logout {background-color: #d11;}
#del_acc {background-color: #d11;}
#font_size {width: 10%;}
#submit:disabled {transform: scale(1); cursor: not-allowed; border-color: #888; background-color: rgba(0, 0, 0, 0);}

/* todo: light_theme bg: 413023; main_bg: faf5ea; hover: 2b1d18; font: black*/