{% extends "base.html" %}

{% block content %}
<style>
.inv a {
    color: #000000;
    text-decoration: none;
}
.inv a:link {color: #000000;}
.inv a:visited {color: #000000;}
.inv a:hover {
    color: #000000;
    text-decoration: None;
}
.inv a:active {color: #000000;}
</style>
<h1>Добавление главы</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.text.label }}<br>
        {{ form.text(class="form-control") }}<br>
        {% for error in form.text.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.date_push.label }}<br>
        {{ form.date_push(class="form-control") }}<br>
        {% for error in form.date_push.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{ message }}
</form>
{% endblock %}