<!doctype html>
<html lang="ru">
{% macro render_field(field, classes="form-control", type="") %}
    {{ field.label }}
    {{ field(class=classes, type=type) }}
    {% for error in field.errors %}
        <p class="alert alert-danger" role="alert">{{ error }}</p>
    {% endfor %}
{% endmacro %}
{% if usr %}
<style>
p, h1, h2, h3, h4, h5, b, i, body, label {font-family: {{ usr.settings["font"] }};
font-size: {{ usr.settings["font-size"] }}px;
color: {{ usr.settings["font-color"] }};
}
</style>
{% endif %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/main_images/book.png')}}">
        <title>{{title}}</title>
    </head>
    <body>
        <!-- Begin page content -->
        <header class="navigation one-line filled">
            <h1 class="inv header_block"><a href="/">LITHUB</a>
            <a href="/" style="user-select: none;">
               <img src="{{ url_for('static', filename='images/main_images/book.png')}}" width="50" class="header_block book">
            </a></h1>
            <div class="header_block" align="right" style="margin: 35px 40px auto auto;">
                {% block reg %}{% endblock %}
            </div>
        </header>
        <main role="main" class="container">
            {% block content %}{% endblock %}
        </main>
        <footer>
            <div class="footer_information">
                <h4>Какая-то информация</h4>
                <p>бла бла бла</p>
                <p>бла бла бла</p>
            </div>
            <div class="contacts">
                <p>sigma.boy@mail.ru</p>
            </div>
            <div class="social_media">
                <h4>Социальные сети</h4>
                <a href=""><img src="" alt="Тг канал"></a>
                <a href=""><img src="" alt="Ютуб канал"></a>
                <a href=""><img src="" alt="ещё какой-то канал"></a>
            </div>

            <div class="copyright">
                <p>©Нельзя копировать и бла бла бла</p>
            </div>
        </footer>
    </body>
</html>