<!doctype html>
<html lang="ru">
{% macro render_field(field, classes="form-control", type="") %}
    {{ field.label }}
    {{ field(class=classes, type=type) }}
    {% for error in field.errors %}
        <p class="alert alert-danger" role="alert">{{ error }}</p>
    {% endfor %}
{% endmacro %}
{% if setts %}
<style>
p, h1, h2, h3, h4, h5 {font-family: {{ setts["font"] }}; font-size: {{ setts["font-size"] }}px; color: {{ setts["font-color"] }};}
</style>
{% endif %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/style.css">
        <title>{{title}}</title>
    </head>
    <body>
        <!-- Begin page content -->
        <header class="navigation">
            <h1 class="inv header_block"><a href="/">LITHUB</a></h1>
            <a href="/" style="user-select: none;">
               <img src="../static/images/main_images/book.png" width="50" class="header_block book">
            </a>
            <div class="profile header_block">
                {% block reg %}{% endblock %}
            </div>
        </header>
            <aside class="side_nav">
                <ol class="tag">
                </ol>
            </aside>
            <main role="main" class="container">
                {% block content %}{% endblock %}
            </main>
    </body>
</html>