{% extends "base.html" %}

{% block content %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    {% if name %}
        <h3>Привет {{ name }}</h3>
        <p>{{ form.profile(type="submit", class="btn btn-primary") }}</p><br>
        <p>{{ form.add_book(type="submit", class="btn btn-primary") }}</p>
    {% else %}
        <p>{{ form.reg(type="submit", class="btn btn-primary") }}</p><br>
        <p>{{ form.log(type="submit", class="btn btn-primary") }}</p>
    {% endif %}
    <br>
    <p>
        {{ form.search.label }}
        {{ form.search(class="form-control search") }}
    </p>
    <button type="submit" class="searchbtn"><img src="../static/images/search.png" width="20"></button><br>
    <ul>
        {% for book in search_results %}
        <li class="inv"><a href="/book/{{ book.name }}">{{ book.name }}</a></li>
        {% endfor %}
    </ul>
    {% if message %}
        <p class="alert alert-danger" role="alert">{{message}}</p>
    {% endif %}
</form>
{% endblock %}