{% extends "base.html" %}

{% block content %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    {% if name %}
        <h3>Привет {{ name }}</h3>
        <p>{{ form.profile(type="submit", class="btn btn-primary") }}</p><br>
        <p>{{ form.add_book(type="submit", class="btn btn-primary") }}</p>
    {% else %}
        <p>{{ form.reg(type="submit", class="btn btn-primary") }}</p><br>
        <p>{{ form.log(type="submit", class="btn btn-primary") }}</p>
    {% endif %}
    <br>
    <nav>
        <ul>
            <li>
                <p>
                    {{ form.search.label }}
                    {{ form.search(class="form-control") }}
                </p>
            </li>
            <li><p>{{ form.search_submit(type="submit", class="btn btn-primary") }}</p></li>
        </ul>
    </nav>
    {% if message %}
        <p class="alert alert-danger" role="alert">{{message}}</p>
    {% endif %}
</form>
{% endblock %}