{% extends "base.html" %}

{% block content %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    <h2 class="inv"><a href="/book/{{ book.name }}">Книга {{ book.name }}</a></h2>
    <div class="one-line filled">
        <p>{{ form.prev(type="submit", class="btn btn-primary") }}</p>
        <p>{{ form.next(type="submit", class="btn btn-primary") }}</p>
    </div>
    <h2 align="center">{{ page.number + 1 }}. {{ page.name }}</h2><br>
    <p>{{ page.text }}</p><br>
    <div class="one-line filled">
        <p>{{ form.prev(type="submit", class="btn btn-primary") }}</p>
        <p>{{ form.next(type="submit", class="btn btn-primary") }}</p>
    </div>
    <h3>Комментарии</h3>
    <p>{{ form.comm_field.label }}</p>
    <div class="one-line filled" style="flex-direction: row;">
        <p style="flex-grow: 1;">{{ form.comm_field(class="form-control") }}</p>
        <p style="margin-left: 10px;">{{ form.comm_sub(type="submit", class="btn btn-primary") }}</p>
    </div>
    {% for comm in page.comments[::-1] %}
    <div class="comm">
        <div class="one-line filled">
            <h4 class="inv"><a href="/profile/{{ comm.author.name }}">{{ comm.author.name }}</a></h4>
            <p style="color: #888888">{{ comm.reg_date }}</p>
        </div>
        <p style="margin-left: 20px">{{ comm.text }}</p>
        {% if comm.author_id != user_id %}
        <p align="center">{{ form.like(type="submit", class="btn btn-primary") }}</p>
        {% endif %}
    </div><br>
    {% endfor %}
    {{ message }}
</form>
{% endblock %}