{% extends "base.html" %}

{% block content %}
<h1>Профиль {{ ch_usr.name }}</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <h3 align="center">О себе</h3><br>
    <p>{{ ch_usr.about }}</p>
    <h3 align="center">Работы</h3>
    <div class="grid-for-books">
        {% for book in ch_usr.books %}
        <div class="book_card">
            <img src="../static/images/main_images/cover.png">
            <b>{{ book.name }}</b>
            <p>Автор: {{ book.author.name }}</p>
            <a href="/book/{{ book.name }}"></a> <!-- Не удалять! Важно -->
        </div>
        {% endfor %}
    </div><br>
    {% if usr.name == ch_usr.name %}
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {% elif usr %}
    <div class="one-line filled">
        <label class="like-btn {% if usr.id in ch_usr.likes %}like-btn-checked{% endif %}">{{ form.like(type="submit") }}</label>
        <p style="margin-right: 20px;">Лайки: {{ ch_usr.likes_count }}</p>
    </div>
    <label class="{% if ch_usr.id in usr.favorite_authors %}like-btn-checked{% endif %} btn btn-primary" style="width: auto;">
        {{ form.favorite(type="submit", style="display: none;") }}В любимое
    </label>
    {% endif %}
    {{ message }}
</form>
{% endblock %}