{% extends "base.html" %}

{% block content %}
<h1 align="center">Кабинет читателя</h1><br>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <div class="tabs one-line filled" style="flex-direction: row;">
        <div>
            {% for subfield in form.tabs_class %}
                <label class="tab">{{ subfield(style="display: none;") }}{{ subfield.label.text }}</label>
            {% endfor %}
        </div>
        <div style="flex-grow: 1;">
            <div class="tab-content">
                <div class="list-items">
                    {% for ntf in usr.notifs["read"][::-1] %}
                        <label class="one-line filled list-item" style="cursor: pointer; margin:0px; padding: 10px 20px;">
                            <input type="submit" name="rem_ntf_{{ loop.index }}" style="display: none;">{{ ntf["text"] }}
                        </label>
                    {% endfor %}
                    {% if not usr.notifs["read"] %}
                        <div class="one-line filled list-item">
                            <p style="flex-grow: 1;">У вас нет уведомлений.</p>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="tab-content">
                <div class="grid-for-books" style="grid-template-columns: 1fr 1fr;">
                    {% for book in last_books %}
                    <div class="book_card">
                        <img src="../static/images/main_images/cover.png">
                        <b>{{ book.name }}</b>
                        <p>Автор: {{ book.author.name }}</p>
                        <a href="/book/{{ book.name }}"></a> <!-- Не удалять! Важно -->
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-content">
                <div class="list-items">
                    <div class="one-line filled list-head">
                        <p style="flex-grow: 1;">Авторы</p>
                        <p>Лайки</p>
                    </div>
                    {% for author in fav_auths %}
                    <div class="one-line filled list-item">
                        <p class="inv" style="flex-grow: 1;"><a href="/profile/{{ author.name }}">{{ author.name }}</a></p>
                        <p style="margin-right: 10px;">Лайки: {{ author.likes_count }}</p>
                        <label class="btn btn-primary">
                            <input type="submit" name="rem_fav_auth_{{ author.id }}" style="display: none;">-
                        </label>
                    </div>
                    {% endfor %}
                    {% if not fav_auths %}
                        <div class="one-line filled list-item">
                            <p style="flex-grow: 1;">У вас нет понравившихся авторов.</p>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="tab-content">
                <div class="list-items">
                    <div class="one-line filled list-head">
                        <p style="flex-grow: 1;">Книги</p>
                        <p>Просмотры</p>
                    </div>
                    {% for book in fav_books %}
                    <div class="one-line filled list-item">
                        <p class="inv" style="flex-grow: 1;"><a href="/book/{{ book.name }}">{{ book.name }}</a></p>
                        <p style="margin-right: 10px;">Просмотры: {{ book.views_count }}</p>
                        <label class="btn btn-primary">
                            <input type="submit" name="rem_fav_book_{{ book.id }}" style="display: none;">-
                        </label>
                    </div>
                    {% endfor %}
                    {% if not fav_books %}
                        <div class="one-line filled list-item">
                            <p style="flex-grow: 1;">У вас нет понравившихся книг.</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {{ message }}
</form>
{% endblock %}