{% extends "base.html" %}

{% block content %}
<!-- todo: Сделать вкладки красивыми -->
<h1>Настройки</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <div class="tabs one-line filled" style="flex-direction: row;">
        <div>
            <label class="tab"><input type="radio" name="tabs_class" checked="checked"/>Настройки аккаунта</label>
            <label class="tab"><input type="radio" name="tabs_class"/>Настройки оформления</label>
            <label class="tab"><input type="radio" name="tabs_class"/>Дополнительно</label>
        </div>
        <div style="flex-grow: 1;">
            <div class="tab-content">
                <p>{{ render_field(form.change_name) }}</p>
                <p>{{ render_field(form.change_pass) }}</p>
                <!-- todo: сделать вводимый текст сверху большого поля id="change_about" -->
                <p>{{ render_field(form.change_about) }}</p>
                <p>{{ form.logout(type="submit", class="btn btn-primary") }}</p>
                <p>{{ form.del_acc(type="submit", class="btn btn-primary") }}</p>
            </div>
            <div class="tab-content">
                <p>{{ render_field(form.font) }}</p>
                <p>{{ render_field(form.font_size) }}</p>
                <p>{{ render_field(form.font_color) }}</p>
            </div>
            <div class="tab-content">
                <p>{{ render_field(form.ignore) }}</p>
                <p>{{ render_field(form.check_books) }}</p>
                <p>{{ form.del_history(type="submit", class="btn btn-primary") }}</p>
            </div>
        </div>
    </div>
</form>
{% endblock %}