{% extends "base.html" %}

{% block content %}
<style>
.list-items {
    border: solid; border-radius: 4px;
    .list-head { flex-direction: row; border-bottom: solid; }
    p { vertical-align: middle; margin: 10px 20px; }
    label { margin: 10px 20px; padding-top: 0px; padding-bottom: 0px; }
    .list_item { flex-direction: row; }
    .list-item:hover { background-color: rgba(255, 255, 255, 0.2); }
    .list-item > label {opacity: 0;}
    .list-item:hover > label {opacity: 100;}
}
.tab > input{ }
</style>
<h1 align="center">Настройки</h1><br>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <div class="tabs one-line filled" style="flex-direction: row;">
        <div>
            {% for subfield in form.tabs_class %}
                <label class="tab">{{ subfield(style="display: none;") }}{{ subfield.label.text }}</label>
            {% endfor %}
        </div>
        <div style="flex-grow: 1;">
            <div class="tab-content">
                <p>{{ render_field(form.change_name) }}</p>
                <p>{{ render_field(form.change_pass, type="password") }}</p>
                <!-- todo: сделать вводимый текст сверху большого поля id="change_about" -->
                <p>{{ render_field(form.change_about) }}</p>
                <p style="display: none;">{{ form.submit(type="submit", class="btn btn-primary") }}</p>
                <p>{{ form.logout(type="submit", class="btn btn-primary") }}</p>
                <p>{{ form.del_acc(type="submit", class="btn btn-primary") }}</p>
            </div>
            <div class="tab-content">
                <p>{{ render_field(form.font) }}</p>
                <p>{{ render_field(form.font_size, type="number") }}</p>
                <p>{{ render_field(form.font_color, type="color") }}</p>
            </div>
            <div class="tab-content">
                <div class="list-items">
                    <div class="one-line filled list-head">
                        <p style="flex-grow: 1;">Мои токены</p>
                        <p>Срок действия</p>
                    </div>
                    {% for tk in usr.tokens %}
                        <div class="one-line filled list-item">
                            <p style="flex-grow: 1;">{{ tk.token }}</p>
                            <p style="margin-right: 20px;">{{ tk.expiration }}</p>
                            <label class="btn btn-primary">
                                <input type="submit" name="rem_token_{{ tk.token }}" style="display: none;">-
                            </label>
                        </div>
                    {% endfor %}
                    {% if not usr.tokens %}
                        <div class="one-line filled list-item">
                            <p style="flex-grow: 1;">У вас пока нет токенов.</p>
                        </div>
                    {% endif %}
                </div>
                <p align="center" style="margin-top: 2rem;">{{ form.add_token(type="submit", class="btn btn-primary") }}
                </p>
            </div>
            <div class="tab-content">
                <p>{{ render_field(form.ignore) }}</p>
                <p>{{ render_field(form.check_books, type="number") }}</p>
                <p>{{ form.del_history(type="submit", class="btn btn-primary") }}</p>
            </div>
        </div>
    </div>
    <p align="middle" style="margin-top: 20px;">{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}